.container {
  height: auto;
  width: 1000px;
  text-align: center;
  margin: auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border: 6px #929497 solid;
  font-family: sans-serif;
}

header {
  width: 100%;
  margin: auto;
  height: 60px;
  background-color: #929497;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

span {
  height: 18px;
  width: 18px;
  border-radius: 18px;
  border: 2px #656565 solid;
  float: left;
  position: relative;
  top: 20px;
  margin: 0 0 0 12px;
}

span.red {
  background-color: red;
}

span.yellow {
  background-color: yellow;
}

span.green {
  background-color: green;
}

.top-title {
  width: 100%;
  margin: auto;
  background-color: #404041;
}

p.numb-text {
  display: inline-block;
  font-weight: 700;
  text-align: right;
  color: #FFF;
  width: 49%;
  font-size: 55px;
  color: #ED458B;
  margin: 20px 0px 20px 0;
}

p.guess-text {
  display: inline-block;
  text-align: left;
  font-weight: 200;
  color: #FFF;
  width: 49%;
  font-size: 55px;
  color: #E6E7E8;
  margin: 20px 0 20px 10px;
}

.form {
  width: 50%;
  margin: auto;

}

.guess-field {
  font-size: 30px;
  color: #D0D2D3;
  border: 2px #D0D2D3 solid;
  height: 50px;
  width: 100%;
  margin: 30px auto;
  font-weight: 200;
  padding-left: 15px;
}

.new-min {
  font-size: 12px;
  margin-bottom: 30px;
  padding: 4px;
}

.new-max {
  font-size: 12px;
  margin-bottom: 30px;
  padding: 4px;
}

.save {
  font-size: 12px;
  border-radius: 12px;
  margin-bottom: 30px;
  padding: 4px;
}

button {
  border: none;
}

.guess-submit:hover {
  background-color: #EB008B;
}

.guess-submit {
  border-radius: 40px;
  width: 48%;
  background-color: #D0D2D3;
  font-size: 30px;
  color: #FFF;
  font-weight: 200;
}

.clear-button:hover {
  background-color: #EB008B;
}

.clear-button {
  font-size: 30px;
  text-align: center;
  float: right;
  width: 48%;
  border-radius: 40px;
  background-color: #929497;
  color: #FFF;
  font-weight: 200;
}

.clear-button:disabled {
  background-color: #D0D2D3;
}

.results {
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
}

#your-last-guess {
  font-size: 30px;
  color: #404041;
  font-weight: 200;
  margin: 40px auto 0px auto;
}

#box-results {
  color: #EB008B;
  font-size: 200px;
  font-weight: 200;
  margin: auto;
}

#hi-or-low {
  font-size: 30px;
  color: #404041;
  font-weight: 200;
  margin: auto;
}

footer {
  width: 50%;
  margin: 40px auto;
  text-align: center;
}

.reset:hover {
  background-color: #EB008B;
}

.reset {
  border-radius: 40px;
  width: 99%;
  background-color: #D0D2D3;
  font-size: 24px;
  color: #FFF;
  font-weight: 200;
}
